<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    nav {
        background-color: white;
        color: #333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav h2 {
        margin: 0;
        font-size: 24px;
    }

    nav a {
        color: #333;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    li {
        margin-right: 16px;
        cursor: pointer;
    }

    li:last-child a {
        margin-right: 0;
    }

    .active {
        font-weight: bold;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
    }
</style>

<body>
    <div>
        <nav>
            <h2><a routerLink="/" style="text-decoration: none; color: #333;">CodeBin</a></h2>
            <ul>
                <li><a routerLink="/create" routerLinkActive="active">Create Bin</a></li>
                @if(authService.isAuthenticated()){
                <li (click)="authService.signOutUser()">Logout</li>
                } @else {

                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
                }
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
        <hr>
    </div>